.color-blue {
	color: $colorBlue;
}

.color-white {
	color: white;
}

.color-black {
	color: black;
}

.color-salmon {
	color: $colorSalmon;
}

.background-salmon {
	background-color: $colorSalmon;
}

.background-yellow {
	background-color: $colorYellow;
}
